<div id="home-component">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
      <h1 class="cell" translate>common.title</h1>

      <h2 class="cell" translate>common.methods.get</h2>
      <div class="cell medium-4 action" translate (click)="findAllAssets(); setActive($event, 1)">common.actions.asset.findAll</div>
      <div class="cell medium-4 action" translate (click)="findAllPersons(); setActive($event, 2)">common.actions.person.findAll</div>
      <div class="cell medium-4 action" translate (click)="findAllAreas(); setActive($event, 3)">common.actions.area.findAll</div>

      <h2 class="cell" translate>common.methods.post</h2>
      <div class="cell medium-4 action" translate (click)="setActive($event, 4)">common.actions.asset.create</div>
      <div class="cell medium-4 action" translate (click)="setActive($event, 5)">common.actions.asset.findByField</div>

      <div class="cell" *ngIf="active == 1 || active == 2 || active == 3">
        <div class="grid-x grid-margin-x grid-margin-y">
          <h2 class="cell">{{ title }}</h2>
          <div class="cell">
            <table class="findTable" *ngIf="active == 1 || active == 2 || active == 3">
              <thead>
                <tr>
                  <th>ID</th>
                  <th translate>common.field.name.name</th>
                  <th *ngIf="active == 1" translate>common.field.name.personArea</th>
                  <th *ngIf="active == 3" translate>common.field.name.city</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of dataList">
                  <td>{{ d.id }}</td>
                  <td>{{ d.name }}</td>
                  <td *ngIf="active == 1 && (d.person || d.area)">{{ d.person ? d.person.name : d.area.name}}</td>
                  <td *ngIf="active == 3">{{ d.city ? d.city.name : ''}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="cell" *ngIf="active == 4">
        <div class="grid-x grid-margin-x grid-margin-y">
          <h2 class="cell">{{ title }}</h2>

          <div class="cell medium-6 fieldset">
            <label translate>common.field.action.createOrEdit</label>
            <select [(ngModel)]="createOrEdit" (change)="loadAsset()">
              <option value="0" translate>common.field.action.choose</option>
              <option value="1" translate>common.field.action.create</option>
              <option value="2" translate>common.field.action.edit</option>
            </select>
          </div>

          <div class="cell medium-6 fieldset" *ngIf="createOrEdit == 2">
            <label translate>common.field.action.selectAsset</label>
            <select [(ngModel)]="assetId" (change)="getAssetData()">
              <option value="0" translate>common.field.action.choose</option>
              <option *ngFor="let d of dataList" [value]="d.id">{{ d.id + ' ' + d.name }}</option>
            </select>
          </div>

          <div class="cell form" *ngIf="createOrEdit == 1 || (createOrEdit == 2 && asset)">
            <div class="grid-x grid-margin-x grid-margin-y" [formGroup]="assetForm" appFormValidator>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.name <span>*</span></label>
                <input type="text" id="name" name="name" formControlName="name"/>
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.description <span>*</span></label>
                <input type="text" id="description" name="description" formControlName="description" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.type  <span>*</span></label>
                <input type="text" id="type" name="type" formControlName="type" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.serial <span>*</span></label>
                <input type="text" id="serial" name="serial" formControlName="serial" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.inventoryNumber <span>*</span></label>
                <input type="text" id="inventoryNumber" name="inventoryNumber" formControlName="inventoryNumber" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.weight <span>*</span></label>
                <input type="text" id="weight" name="weight" formControlName="weight" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.height <span>*</span></label>
                <input type="text" id="height" name="height" formControlName="height" />
                <div class="error"></div>
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.width <span>*</span></label>
                <input type="text" id="width" name="width" formControlName="width" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.lengthy <span>*</span></label>
                <input type="text" id="lengthy" name="lengthy" formControlName="lengthy" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.purchaseValue <span>*</span></label>
                <input type="text" id="purchaseValue" name="purchaseValue" formControlName="purchaseValue" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.purchaseDate <span>*</span></label>
                <input type="text" class="date" id="purchaseDate" name="purchaseDate" formControlName="purchaseDate" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.dischargeDate <span>*</span></label>
                <input type="text" class="date" id="dischargeDate" name="dischargeDate" formControlName="dischargeDate" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.color <span>*</span></label>
                <input type="text" id="color" name="color" formControlName="color" />
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.assetState <span>*</span></label>
                <select id="assetState" name="assetState" formControlName="assetState">
                  <option value="0" translate>common.field.action.choose</option>
                  <option *ngFor="let d of assetStateList" [value]="d.id">{{ d.id + ' ' + d.name }}</option>
                </select>
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset">
                <label translate>common.field.label.personOrArea <span>*</span></label>
                <select name="personOrArea" formControlName="personOrArea" (change)="loadPersonOrArea()">
                  <option value="0" translate>common.field.action.choose</option>
                  <option value="1" translate>common.field.label.person</option>
                  <option value="2" translate>common.field.label.area</option>
                </select>
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset" *ngIf="assetForm.get('personOrArea').value == 1">
                <label translate>common.field.label.person <span>*</span></label>
                <select id="person" name="person" formControlName="person">
                  <option value="0" translate>common.field.action.choose</option>
                  <option *ngFor="let d of personAreaList" [value]="d.id">{{ d.id + ' ' + d.name }}</option>
                </select>
                <label class="error"></label>
              </div>

              <div class="cell medium-6 fieldset" *ngIf="assetForm.get('personOrArea').value == 2">
                <label translate>common.field.label.area <span>*</span></label>
                <select id="area" name="area" formControlName="area">
                  <option value="0" translate>common.field.action.choose</option>
                  <option *ngFor="let d of personAreaList" [value]="d.id">{{ d.id + ' ' + d.name }}</option>
                </select>
                <label class="error"></label>
              </div>

              <div class="cell btn medium-2 medium-offset-5" (click)="createOrEditAsset()">Guardar</div>
            </div>
          </div>

        </div>
      </div>

      <div class="cell" *ngIf="active == 5">
        <div class="grid-x grid-margin-x grid-margin-y">
          <h2 class="cell">{{ title }}</h2>

          <div class="cell medium-6 fieldset">
            <label translate>common.field.label.type</label>
            <input type="text" [(ngModel)]="type" />
          </div>

          <div class="cell medium-6 fieldset">
            <label translate>common.field.label.serial</label>
            <input type="text" [(ngModel)]="serial" />
          </div>

          <div class="cell medium-6 fieldset">
            <label translate>common.field.label.purchaseDate</label>
            <input type="text" class="date" id="purchaseDate2" />
          </div>

          <div class="cell btn medium-2 medium-offset-5" (click)="findAssetByField()">Buscar</div>

          <div class="cell">
            <table class="findTable" *ngIf="dataList">
              <thead>
              <tr>
                <th>ID</th>
                <th translate>common.field.name.name</th>
                <th translate>common.field.label.type</th>
                <th translate>common.field.label.serial</th>
                <th translate>common.field.label.purchaseDate</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let d of dataList">
                <td>{{ d.id }}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.type }}</td>
                <td>{{ d.serial }}</td>
                <td>{{ formatDate(d.purchaseDate) }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
