<div class="lang">
  <div class="l en" (click)="setLanguage('en')">EN</div>
  <div class="l es" (click)="setLanguage('es')">ES</div>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
