@import 'mixins';

body {
  width: 100vw;
  max-width: 100%;
  height: auto;
  min-height: 100vh;
}

.main {
  padding: 75px 0px;
}

h1 {
  margin-bottom: 35px;
  text-align: center;
}

h2 {
  position: relative;

  &:after {
    @include abs_center(50%, 2px);
    content: '';
    background: $c-black;
    right: inherit;
    top: inherit;
  }
}

.action {
  transition: $transition;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;

  &:hover, &.active {
    word-spacing: 4px;
    font-weight: 700;
    color: $c-red;
  }
}

.findTable {
  width: 100%;

  th {
    text-align: center;
    text-transform: uppercase;
    background: black;
    color: white;
  }

  td {
    text-align: center;

    &:first-of-type {
      font-weight: bold;
    }
  }
}

.fieldset {
  margin-bottom: 10px !important;

  label {
    font-weight: bold;
    font-size: 12px;
    display: block;

    &.error {
      color: $c-red;
      height: 15px;
    }
  }

  input, select {
    width: 100%;
    height: 25px;
    border: 0px;
    border-bottom: 2px solid rgba($c-black, 0.25);
    outline: none;
  }

  &.error {
    input, select {
      border-color: $c-red;
    }
  }
}

.btn {
  border: 2px solid $c-black;
  transition: $transition;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 0px;

  &:hover {
    background: $c-black;
    color :$c-white;
  }
}

.lang {
  padding: 20px;
  @include abs_center(100%, 25px);
  bottom: inherit;
  font-weight: bold;
  cursor: pointer;

  div {
    &:hover, &.active {
      color: $c-red;
    }
  }
}
